
<div class="product-detail">
  <div class="product-image text-center">
    <img [src]="producto.img" class="img-fluid rounded shadow-lg" [alt]="producto.nombre">
    <a href="/productos" class="btn btn-outline-orange btn-lg btn-block mt-4">Regresar</a>
  </div>
  <div class="product-info">
    <h1 class="product-title">{{ producto.nombre }}</h1>
    <h2 class="product-price"> {{ producto.precio | currency:'Bs ':'symbol-narrow' }}</h2>

    <ul class="product-features">
      <li>{{ producto.descripcion }}</li>
      <!-- Agrega más características según sea necesario -->
    </ul>
    <div class="benefits-container">
      <h6>Beneficios de Comprar un Auto en CAR MOTORS</h6> <!-- Cambiado de h3 a h4 -->
      <ul class="benefits-list">
          <li><p class="product-warranty">Variedad de Modelos adaptados a tus necesidades.</p></li>
          <li><p class="product-warranty">Calidad garantizada en todos nuestros vehículos.</p></li>
          <li><p class="product-warranty">1 año de garantía en cada compra.</p></li>
          <li><p class="product-warranty">Opciones de financiamiento asequibles.</p></li>
          <li><p class="product-warranty">Asesoramiento personalizado durante tu compra.</p></li>
          <li><p class="product-warranty">Servicio postventa para tu tranquilidad.</p></li>
          <li><p class="product-warranty">Ofertas y promociones especiales.</p></li>
          <li><p class="product-warranty">Pruebas de manejo disponibles.</p></li>
      </ul>
  </div>
  
  
    <button class="buy-button" (click)="abrirWhatsApp()">Comprar por Whatsapp</button>
  </div>
</div>
