.btn-outline-orange {
  color: #1E90FF; /* Azul claro */
  border-color: #1E90FF; /* Azul claro */
}

.btn-outline-orange:hover {
  color: white; /* Color del texto en blanco */
  background-color: #1E90FF; /* Azul claro */
  border-color: #1C86EE; /* Azul más oscuro */
}

/* Estilos para el párrafo de la descripción del producto */
.descripcion {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #555; /* Color de texto principal */
  text-align: justify;
  margin-top: 20px;
  padding: 10px; /* Añade un padding para espacio interno */
  border: 1px solid #ccc; /* Añade borde para separación visual */
  border-radius: 8px; /* Añade bordes redondeados */
  background-color: #f9f9f9; /* Color de fondo para destacar el texto */
}

.descripcion::first-letter {
  font-size: 2rem; /* Tamaño de la primera letra */
  color: #1E90FF; /* Azul claro para la primera letra */
  float: left; /* Flotar la primera letra a la izquierda */
  padding-right: 5px; /* Espacio después de la primera letra */
  font-family: Georgia, serif; /* Fuente de la primera letra */
  margin-right: 5px; /* Margen derecho para separar la primera letra del texto */
}

.product-detail {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.product-image {
  flex: 1;
  padding: 20px;
}

.product-info {
  flex: 2;
  padding: 20px;
}

.product-title {
  font-size: 2em;
  color: #333; /* Color del título */
}

.product-price {
  font-size: 1.5em;
  color: #1E90FF; /* Azul claro para el precio */
  margin-top: 10px;
}

.product-features {
  list-style: none;
  padding: 0;
}

.product-features li {
  font-size: 1em;
  color: #666; /* Color de características */
  margin-top: 5px;
}

.product-warranty,
.product-condition {
  font-size: 1em;
  color: #666; /* Color de garantía y condición */
  margin-top: 10px;
}

.buy-button {
  background-color: #1E90FF; /* Azul claro */
  color: white; /* Color del texto en blanco */
  font-size: 1.2em;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  text-transform: uppercase;
}

.buy-button:hover {
  background-color: #1C86EE; /* Azul más oscuro */
}
.benefits-container {
  margin: 20px auto;
  padding: 10px; /* Padding reducido */
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  max-width: 800px;
  font-size: 0.8rem; /* Tamaño de fuente más pequeño */
}

.benefits-list {
  list-style-type: disc; /* Viñetas sutiles */
  padding-left: 20px; /* Alineación de viñetas */
}

.benefits-list li {
  margin-bottom: 3px; /* Espacio reducido entre cada beneficio */
}

.benefits-container h4 {
  font-size: 1.2rem; /* Tamaño de h4 más pequeño */
  color: #333; /* Color del texto del encabezado */
}

.product-warranty {
  color: #666; /* Color del texto más suave */
  margin: 0; /* Sin margen adicional */
}

