.card-container {
  display: flex; /* Usar flexbox para la disposición */
  flex-wrap: wrap; /* Permitir que las cartas se envuelvan en múltiples líneas */
  justify-content: space-between; /* Espacio entre las cartas */
  margin: 0 auto; /* Centrar el contenedor */
  max-width: 1200px; /* Establecer un ancho máximo para el contenedor */
}

.card {
  width: calc(25% - 10px); /* Cada carta ocupará el 25% del ancho, con espacio entre ellas */
  margin: 10px; /* Espacio entre las cartas */
  border: 1px solid #ddd; /* Borde sutil */
  border-radius: 10px; /* Bordes redondeados */
  overflow: hidden; /* Asegura que nada sobresalga de la carta */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para dar un efecto de profundidad */
  transition: transform 0.2s; /* Animación suave al pasar el mouse */
}

.card:hover {
  transform: scale(1.10); /* Aumenta ligeramente el tamaño al pasar el mouse */
}

.card-img-top {
  height: 200px; /* Establece una altura fija para la imagen */
  object-fit: cover; /* Asegura que la imagen cubra el área de la imagen sin deformarse */
}

.btn {
  color: #5a5757; /* Color del texto en blanco */
  border-color: #1E90FF; /* Color del borde en azul claro */
}

.btn:hover {
  color: #FFFFFF; /* Color del texto al pasar el mouse en blanco */
  background-color: #1E90FF; /* Azul claro */
  border-color: #1C86EE; /* Azul más oscuro */
}
