/* Botón con borde azul oscuro */
.btn-outline-blue-dark {
  color: #003366; /* Azul oscuro */
  border-color: #003366;
}
.btn-outline-blue-dark:hover {
  color: white;
  background-color: #001f3f; /* Azul más oscuro en hover */
  border-color: #001f3f;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  margin: 0;
}

.box {
  max-height: 350px;
  width: 250px;
  height: 250px;
  margin: 0 5px;
  transition: flex 0.2s ease, transform 0.5s ease;
}

.box img {
  width: 140%;
  height: 140%;
  object-fit: cover;
  border-radius: 30px;
  transition: transform 0.2s ease, transform 0.5s ease;
}

.box:hover {
  flex: 1 1 50%;
  transform: scale(1.05);
}

.box:hover img {
  transform: scale(1.05);
}

/* Estilo para tamaño fijo del carrusel */
.carousel-inner {
  width: 100%;
  height: 600px; /* Altura fija para el carrusel */
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen para que ocupe todo el contenedor sin distorsión */
  object-position: center; /* Centra la imagen en el contenedor */
}
