<section class="bg-white">
  <div class="container px-4 py-8 mx-auto row">
      <div class="col-lg-7 d-flex flex-column justify-content-center">
          <h1 class="display-4 font-weight-bold mb-4">
              Acerca de Nosotros
          </h1>
          <p class="lead text-muted mb-6">
              En CAR MOTORS, iniciamos nuestra aventura en el mundo automotriz en el año 2015, con la misión de proporcionar a nuestros clientes una experiencia excepcional en la compra y mantenimiento de vehículos. Desde entonces, nos hemos establecido como un concesionario de confianza, ofreciendo una amplia gama de autos nuevos y usados de las marcas más reconocidas en el mercado.

              Nuestro compromiso con la calidad y la satisfacción del cliente es lo que nos distingue. Contamos con un equipo de profesionales altamente capacitados que no solo se dedican a la venta, sino que también están disponibles para brindar asesoramiento personalizado, garantizando que cada cliente encuentre el vehículo que mejor se adapte a sus necesidades y presupuesto.

              En CAR MOTORS, entendemos que la compra de un auto es una decisión importante, por lo que trabajamos arduamente para ofrecer financiamiento accesible y opciones de intercambio justo. También ofrecemos un servicio de postventa excepcional, incluyendo mantenimiento y reparaciones, para que tu auto siempre esté en óptimas condiciones.

              Nuestro concesionario se encuentra ubicado en la ciudad de Santa Cruz, donde hemos construido relaciones sólidas con nuestros clientes y las marcas líderes del sector, asegurando que siempre puedas confiar en nosotros para tus necesidades automotrices.
          </p>
          <div class="d-flex">
              <!-- Aquí puedes agregar algún botón o enlace si lo deseas -->
          </div>
      </div>
      <div class="col-lg-5 d-none d-lg-flex">
        <img
            src="https://media-private.canva.com/o5Jto/MAGVDdo5Jto/1/p.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJWF6QO3UH4PAAJ6Q%2F20241030%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20241030T000556Z&X-Amz-Expires=66184&X-Amz-Signature=3ce2650db2893b8c9ffe3d9d08b7a94dec06d86fdd9a077d53c90dda8a7dcb3f&X-Amz-SignedHeaders=host%3Bx-amz-expected-bucket-owner&response-expires=Wed%2C%2030%20Oct%202024%2018%3A29%3A00%20GMT"
            alt="mockup"
            class="img-fluid"
        />
    </div>
    
  </div>
</section>

<div class="contact-section">
  <div class="contact-item">
      <i class="fas fa-phone"></i>
      <h3>Contactanos</h3>
      <p>1 (591+) 77601862,<br>2 (591+) 75542604</p>
  </div>
  <div class="contact-item">
      <i class="fas fa-map-marker-alt"></i>
      <h3>Ubicación</h3>
      <p>Av.Mario R. Gutiérrez,<br>Santa Cruz, BO 77601862 || BO 75542604</p>
  </div>
  <div class="contact-item">
      <i class="fas fa-clock"></i>
      <h3>Horas</h3>
      <p>Lun – Vie ..... 9 am – 7 pm,<br>Sáb, Dom ..... 10 am – 6 pm</p>
  </div>
</div>
