<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- Formulario -->
      <h4>Contactos</h4>
      <hr>
      <form autocomplete="off" (ngSubmit)="guardar(forma)" #forma="ngForm">
        <div>
          <div class="form-group row">
            <label class="col-4 col-form-label">Nombre</label>
            <div class="col-8">
              <input class="form-control" type="text" name="nombre" placeholder="Nombre"
                     [class.is-invalid]="nombre.invalid && nombre.touched" [(ngModel)]="pacienteModel.nombre" required minlength="3"
                     #nombre="ngModel">
              <small *ngIf="nombre.invalid && nombre.touched" class="form-text text-danger">Ingrese su nombre</small>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">Email</label>
            <div class="col-8">
              <input class="form-control" type="email" name="email" placeholder="Correo electrónico"
                     [class.is-invalid]="email.invalid && email.touched" [(ngModel)]="pacienteModel.email" required
                     #email="ngModel">
              <small *ngIf="email.invalid && email.touched" class="form-text text-danger">El correo es obligatorio</small>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">Teléfono</label>
            <div class="col-8">
              <input class="form-control" type="text" name="telefono" placeholder="Teléfono"
                     [class.is-invalid]="telefono.invalid && telefono.touched" [(ngModel)]="pacienteModel.telefono" required
                     #telefono="ngModel">
              <small *ngIf="telefono.invalid && telefono.touched" class="form-text text-danger">Ingrese su teléfono</small>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">Asunto</label>
            <div class="col-8">
              <select class="form-control" name="asunto" [(ngModel)]="pacienteModel.asunto" required #asunto="ngModel">
                <option value="" disabled selected>Seleccione un servicio</option>
                <option value="Cambio de Aceite">Cotizacion de un automovil</option>
                <option value="Cambio de Aceite">Prueba de manejo</option>
                <option value="Cambio de Aceite">Cambio de Aceite</option>
                <option value="Revisión General">Revisión General</option>
                <option value="Alineación y Balanceo">Alineación y Balanceo</option>
                <option value="Reparación de Frenos">Reparación de Frenos</option>
              </select>
              <small *ngIf="asunto.invalid && asunto.touched" class="form-text text-danger">Seleccione un servicio</small>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">Fecha de Registro</label>
            <div class="col-8">
              <input class="form-control" type="date" name="fecharegistro" placeholder="Fecha de Registro"
                     [class.is-invalid]="fecharegistro.invalid && fecharegistro.touched" [(ngModel)]="pacienteModel.fecharegistro"
                     required #fecharegistro="ngModel">
              <small *ngIf="fecharegistro.invalid && fecharegistro.touched" class="form-text text-danger">La fecha es obligatoria</small>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">Estado de Registro</label>
            <div class="col-8">
              <input type="checkbox" name="estadoregistro" [(ngModel)]="pacienteModel.estadoregistro" #estadoregistro="ngModel"> Activo
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-4 col-form-label">&nbsp;</label>
          <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline btn-block">Guardar</button>
            <button type="button" class="btn btn-success btn-block" (click)="abrirWhatsApp()">Contactar por WhatsApp</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <!-- Ubicación -->
      <h4>Ubicación</h4>
      <div class="map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3798.652096164534!2d-63.20095241446766!3d-17.808040543020116!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93f1e826745b9d83%3A0xee4eaeca7499ecbf!2sCar%20motors!5e0!3m2!1ses-419!2sbo!4v1730303256461!5m2!1ses-419!2sbo" 
        width="1200" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</div>
